.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.052734;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.942383;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.197200px;}
.ls2{letter-spacing:-0.132800px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-10.651200px;}
._6{margin-left:-9.381504px;}
._b{margin-left:-8.374080px;}
._7{margin-left:-6.468960px;}
._4{margin-left:-5.366400px;}
._0{margin-left:-3.264000px;}
._1{margin-left:-2.112000px;}
._5{margin-left:-1.054080px;}
._2{width:1.152000px;}
._3{width:34.704000px;}
._c{width:43.944000px;}
._9{width:527.761280px;}
._8{width:601.241920px;}
._a{width:701.827040px;}
.fc4{color:rgb(68,84,106);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc5{color:rgb(5,99,193);}
.fc3{color:rgb(31,78,121);}
.fc2{color:rgb(91,155,213);}
.fs13{font-size:32.160000px;}
.fs10{font-size:48.000000px;}
.fs2{font-size:53.280000px;}
.fsb{font-size:56.160000px;}
.fs9{font-size:58.560000px;}
.fs8{font-size:63.840000px;}
.fsc{font-size:63.936000px;}
.fsa{font-size:74.880000px;}
.fs14{font-size:80.160000px;}
.fs6{font-size:96.000000px;}
.fs7{font-size:96.096000px;}
.fs4{font-size:106.560000px;}
.fs5{font-size:106.656000px;}
.fs11{font-size:111.840000px;}
.fs12{font-size:149.376000px;}
.fsf{font-size:152.160000px;}
.fs3{font-size:152.256000px;}
.fs1{font-size:170.880000px;}
.fs0{font-size:192.000000px;}
.fse{font-size:213.120000px;}
.fsd{font-size:213.216000px;}
.y0{bottom:0.000000px;}
.y5{bottom:20.400000px;}
.y4{bottom:46.440000px;}
.y3f{bottom:57.072000px;}
.y14{bottom:66.360000px;}
.y2f{bottom:70.968000px;}
.y15{bottom:77.568000px;}
.y2a{bottom:86.040000px;}
.y2b{bottom:88.248000px;}
.y43{bottom:90.168000px;}
.ye{bottom:99.168000px;}
.y37{bottom:114.000000px;}
.yd{bottom:137.930000px;}
.y19{bottom:156.100000px;}
.y3d{bottom:162.790000px;}
.y1f{bottom:170.260000px;}
.y36{bottom:171.380000px;}
.y22{bottom:172.220000px;}
.yc{bottom:176.810000px;}
.y49{bottom:186.650000px;}
.y12{bottom:189.890000px;}
.y11{bottom:193.270000px;}
.y13{bottom:196.030000px;}
.y3{bottom:208.150000px;}
.yb{bottom:215.590000px;}
.y18{bottom:216.100000px;}
.y48{bottom:218.230000px;}
.y2e{bottom:226.780000px;}
.y28{bottom:230.230000px;}
.y1b{bottom:245.090000px;}
.y47{bottom:249.910000px;}
.ya{bottom:254.350000px;}
.y38{bottom:256.630000px;}
.y39{bottom:262.220000px;}
.y17{bottom:264.290000px;}
.y2{bottom:265.780000px;}
.y42{bottom:269.710000px;}
.y3c{bottom:271.220000px;}
.y41{bottom:274.920000px;}
.y1e{bottom:279.310000px;}
.y25{bottom:280.420000px;}
.y46{bottom:281.470000px;}
.y2d{bottom:283.540000px;}
.y9{bottom:293.230000px;}
.y27{bottom:294.310000px;}
.y21{bottom:296.140000px;}
.y4a{bottom:296.660000px;}
.y24{bottom:303.070000px;}
.y3a{bottom:304.610000px;}
.y35{bottom:309.240000px;}
.y34{bottom:310.490000px;}
.y45{bottom:313.030000px;}
.y1d{bottom:313.390000px;}
.y20{bottom:315.340000px;}
.y23{bottom:322.270000px;}
.y1{bottom:323.380000px;}
.y33{bottom:331.460000px;}
.y8{bottom:332.020000px;}
.y10{bottom:335.980000px;}
.yf{bottom:338.090000px;}
.y16{bottom:338.350000px;}
.y31{bottom:341.420000px;}
.y44{bottom:344.740000px;}
.y2c{bottom:347.500000px;}
.y32{bottom:350.660000px;}
.y26{bottom:358.300000px;}
.y7{bottom:370.900000px;}
.y3e{bottom:375.770000px;}
.y40{bottom:376.300000px;}
.y3b{bottom:379.440000px;}
.y1a{bottom:385.220000px;}
.y1c{bottom:425.690000px;}
.y30{bottom:443.140000px;}
.y6{bottom:476.690000px;}
.y29{bottom:491.690000px;}
.h15{height:28.124297px;}
.h11{height:41.976562px;}
.h3{height:46.593984px;}
.hc{height:49.112578px;}
.ha{height:51.211406px;}
.h9{height:55.828828px;}
.hd{height:55.912781px;}
.hb{height:65.483437px;}
.h16{height:70.100859px;}
.h14{height:73.432734px;}
.h7{height:83.953125px;}
.h8{height:84.037078px;}
.h5{height:93.187969px;}
.h6{height:93.271922px;}
.h12{height:97.805391px;}
.h13{height:114.147187px;}
.h10{height:116.274609px;}
.h4{height:116.347969px;}
.h2{height:149.436563px;}
.h1{height:167.906250px;}
.hf{height:186.375937px;}
.he{height:186.459891px;}
.h0{height:540.000000px;}
.w1{width:959.999986px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x2f{left:14.327986px;}
.x3{left:31.199986px;}
.x29{left:38.831986px;}
.x2a{left:49.607986px;}
.x1f{left:79.199986px;}
.x1d{left:95.687986px;}
.x1c{left:97.559986px;}
.x4{left:119.569986px;}
.x2e{left:127.029986px;}
.x13{left:136.779986px;}
.x7{left:158.519986px;}
.x14{left:173.209986px;}
.x15{left:218.809986px;}
.x12{left:230.159986px;}
.xb{left:242.659986px;}
.xd{left:285.839986px;}
.xc{left:287.209986px;}
.x1a{left:289.579986px;}
.x1b{left:302.899986px;}
.x1e{left:343.339986px;}
.x31{left:367.609986px;}
.x22{left:375.049986px;}
.x2d{left:386.809986px;}
.x8{left:410.159986px;}
.x25{left:411.529986px;}
.x5{left:414.529986px;}
.x20{left:438.739986px;}
.x1{left:484.439986px;}
.x2{left:495.379986px;}
.x2c{left:503.329986px;}
.x21{left:505.389986px;}
.x28{left:514.369986px;}
.x27{left:525.909986px;}
.x30{left:572.379986px;}
.x2b{left:592.249986px;}
.x23{left:608.659986px;}
.x24{left:612.619986px;}
.x26{left:634.269986px;}
.xa{left:645.379986px;}
.x6{left:673.219986px;}
.x16{left:688.459986px;}
.x17{left:692.949986px;}
.x19{left:694.389986px;}
.x18{left:696.069986px;}
.x9{left:710.349986px;}
.x11{left:854.859986px;}
.xf{left:863.689986px;}
.xe{left:864.699986px;}
.x10{left:880.969986px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.262933pt;}
.ls2{letter-spacing:-0.177067pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-14.201600pt;}
._6{margin-left:-12.508672pt;}
._b{margin-left:-11.165440pt;}
._7{margin-left:-8.625280pt;}
._4{margin-left:-7.155200pt;}
._0{margin-left:-4.352000pt;}
._1{margin-left:-2.816000pt;}
._5{margin-left:-1.405440pt;}
._2{width:1.536000pt;}
._3{width:46.272000pt;}
._c{width:58.592000pt;}
._9{width:703.681707pt;}
._8{width:801.655893pt;}
._a{width:935.769387pt;}
.fs13{font-size:42.880000pt;}
.fs10{font-size:64.000000pt;}
.fs2{font-size:71.040000pt;}
.fsb{font-size:74.880000pt;}
.fs9{font-size:78.080000pt;}
.fs8{font-size:85.120000pt;}
.fsc{font-size:85.248000pt;}
.fsa{font-size:99.840000pt;}
.fs14{font-size:106.880000pt;}
.fs6{font-size:128.000000pt;}
.fs7{font-size:128.128000pt;}
.fs4{font-size:142.080000pt;}
.fs5{font-size:142.208000pt;}
.fs11{font-size:149.120000pt;}
.fs12{font-size:199.168000pt;}
.fsf{font-size:202.880000pt;}
.fs3{font-size:203.008000pt;}
.fs1{font-size:227.840000pt;}
.fs0{font-size:256.000000pt;}
.fse{font-size:284.160000pt;}
.fsd{font-size:284.288000pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:27.200000pt;}
.y4{bottom:61.920000pt;}
.y3f{bottom:76.096000pt;}
.y14{bottom:88.480000pt;}
.y2f{bottom:94.624000pt;}
.y15{bottom:103.424000pt;}
.y2a{bottom:114.720000pt;}
.y2b{bottom:117.664000pt;}
.y43{bottom:120.224000pt;}
.ye{bottom:132.224000pt;}
.y37{bottom:152.000000pt;}
.yd{bottom:183.906667pt;}
.y19{bottom:208.133333pt;}
.y3d{bottom:217.053333pt;}
.y1f{bottom:227.013333pt;}
.y36{bottom:228.506667pt;}
.y22{bottom:229.626667pt;}
.yc{bottom:235.746667pt;}
.y49{bottom:248.866667pt;}
.y12{bottom:253.186667pt;}
.y11{bottom:257.693333pt;}
.y13{bottom:261.373333pt;}
.y3{bottom:277.533333pt;}
.yb{bottom:287.453333pt;}
.y18{bottom:288.133333pt;}
.y48{bottom:290.973333pt;}
.y2e{bottom:302.373333pt;}
.y28{bottom:306.973333pt;}
.y1b{bottom:326.786667pt;}
.y47{bottom:333.213333pt;}
.ya{bottom:339.133333pt;}
.y38{bottom:342.173333pt;}
.y39{bottom:349.626667pt;}
.y17{bottom:352.386667pt;}
.y2{bottom:354.373333pt;}
.y42{bottom:359.613333pt;}
.y3c{bottom:361.626667pt;}
.y41{bottom:366.560000pt;}
.y1e{bottom:372.413333pt;}
.y25{bottom:373.893333pt;}
.y46{bottom:375.293333pt;}
.y2d{bottom:378.053333pt;}
.y9{bottom:390.973333pt;}
.y27{bottom:392.413333pt;}
.y21{bottom:394.853333pt;}
.y4a{bottom:395.546667pt;}
.y24{bottom:404.093333pt;}
.y3a{bottom:406.146667pt;}
.y35{bottom:412.320000pt;}
.y34{bottom:413.986667pt;}
.y45{bottom:417.373333pt;}
.y1d{bottom:417.853333pt;}
.y20{bottom:420.453333pt;}
.y23{bottom:429.693333pt;}
.y1{bottom:431.173333pt;}
.y33{bottom:441.946667pt;}
.y8{bottom:442.693333pt;}
.y10{bottom:447.973333pt;}
.yf{bottom:450.786667pt;}
.y16{bottom:451.133333pt;}
.y31{bottom:455.226667pt;}
.y44{bottom:459.653333pt;}
.y2c{bottom:463.333333pt;}
.y32{bottom:467.546667pt;}
.y26{bottom:477.733333pt;}
.y7{bottom:494.533333pt;}
.y3e{bottom:501.026667pt;}
.y40{bottom:501.733333pt;}
.y3b{bottom:505.920000pt;}
.y1a{bottom:513.626667pt;}
.y1c{bottom:567.586667pt;}
.y30{bottom:590.853333pt;}
.y6{bottom:635.586667pt;}
.y29{bottom:655.586667pt;}
.h15{height:37.499062pt;}
.h11{height:55.968750pt;}
.h3{height:62.125312pt;}
.hc{height:65.483437pt;}
.ha{height:68.281875pt;}
.h9{height:74.438437pt;}
.hd{height:74.550375pt;}
.hb{height:87.311250pt;}
.h16{height:93.467812pt;}
.h14{height:97.910313pt;}
.h7{height:111.937500pt;}
.h8{height:112.049438pt;}
.h5{height:124.250625pt;}
.h6{height:124.362562pt;}
.h12{height:130.407187pt;}
.h13{height:152.196250pt;}
.h10{height:155.032812pt;}
.h4{height:155.130625pt;}
.h2{height:199.248750pt;}
.h1{height:223.875000pt;}
.hf{height:248.501250pt;}
.he{height:248.613187pt;}
.h0{height:720.000000pt;}
.w1{width:1279.999981pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x2f{left:19.103981pt;}
.x3{left:41.599981pt;}
.x29{left:51.775981pt;}
.x2a{left:66.143981pt;}
.x1f{left:105.599981pt;}
.x1d{left:127.583981pt;}
.x1c{left:130.079981pt;}
.x4{left:159.426648pt;}
.x2e{left:169.373314pt;}
.x13{left:182.373314pt;}
.x7{left:211.359981pt;}
.x14{left:230.946648pt;}
.x15{left:291.746648pt;}
.x12{left:306.879981pt;}
.xb{left:323.546648pt;}
.xd{left:381.119981pt;}
.xc{left:382.946648pt;}
.x1a{left:386.106648pt;}
.x1b{left:403.866648pt;}
.x1e{left:457.786648pt;}
.x31{left:490.146648pt;}
.x22{left:500.066648pt;}
.x2d{left:515.746648pt;}
.x8{left:546.879981pt;}
.x25{left:548.706648pt;}
.x5{left:552.706648pt;}
.x20{left:584.986648pt;}
.x1{left:645.919981pt;}
.x2{left:660.506648pt;}
.x2c{left:671.106648pt;}
.x21{left:673.853314pt;}
.x28{left:685.826648pt;}
.x27{left:701.213314pt;}
.x30{left:763.173314pt;}
.x2b{left:789.666648pt;}
.x23{left:811.546648pt;}
.x24{left:816.826648pt;}
.x26{left:845.693314pt;}
.xa{left:860.506648pt;}
.x6{left:897.626648pt;}
.x16{left:917.946648pt;}
.x17{left:923.933314pt;}
.x19{left:925.853314pt;}
.x18{left:928.093314pt;}
.x9{left:947.133314pt;}
.x11{left:1139.813314pt;}
.xf{left:1151.586648pt;}
.xe{left:1152.933314pt;}
.x10{left:1174.626648pt;}
}
